# Compiled output
/dist
/tmp

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/
.project
.classpath
*.launch
.settings/
sinterklaas-quiz.iml

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage
/typings

# System files
.DS_Store
Thumbs.db
